<div class='p-3'>
  <div class="text-3xl">Phiếu đăng ký mua đồ</div>

  <div class="mt-4"><div class='font-bold'>Số lượng: <%= @resources.total_count %></div></div>

  <table class='w-full mt-4'>
    <tr>
      <th class='border border-gray-900 text-left bg-gray-900 text-white px-3 py-1'>Phụ huynh</th>
      <th class='border border-gray-900 bg-gray-900 text-white px-3 py-1'>Số điện thoại</th>
      <th class='border border-gray-900 bg-gray-900 text-white px-3 py-1'>Sản phẩm</th>
      <th class='border border-gray-900 bg-gray-900 text-white px-3 py-1'>Thành tiền</th>
      <th class='border border-gray-900 bg-gray-900 text-white px-3 py-1'>Trạng thái</th>
    </tr>
    <% @resources.each do |product_request| %>
      <tr id="<%= dom_id(product_request) %>" class='hover:bg-gray-100'>
        <%= render 'admin/product_requests/product_request', product_request: product_request %>
      </tr>
    <% end %>
  </table>
  <div class='text-center'>
    <%= paginate @resources %>
  </div>

</div>
