<div class="h-full">
  <table class='table-score'>
    <caption id='caption' class='font-bold'>Bảng điểm</caption>
    <thead>
      <tr>
        <th>Name</th>
        <% @dates.each do |date| %>
          <th class='whitespace-nowrap'><%= l(date, format: :weekday_n_day_month, locale: :vi) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |ps| %>
        <tr>
          <th class='whitespace-nowrap'>
            <%= ps.fullname %>
          </th>
          <% @dates.each do |date| %>
            <td class='whitespace-nowrap cursor-pointer hover:bg-gray-200' id="<%= dom_id(ps, l(date, format: :chain)) %>">

            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
