<div class="h-full">
  <table class='table-score'>
    <thead>
      <tr>
        <th>Name</th>
        <% @dates.each do |date| %>
          <th class='whitespace-nowrap'><%= l(date, format: :weekday_n_day_month, locale: :vi) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'managers/scores/people_cell', collection: @people, as: :ps, locals: { dates: @dates, scores: @scores } %>
    </tbody>
  </table>
</div>
