<div class='p-2 bg-white rounded-md'>
  <div class='flex flex-row items-stretch'>
    <div class='flex flex-col'>
      <div class='font-bold text-center'>
        Tên
      </div>
      <% @score.level.active_people.each do |ps| %>
        <div class='border-t py-2 px-1 bg-gray-50 whitespace-nowrap'>
          <td class='whitespace-nowrap border-b border-gray-100'><%= ps.fullname %></td>
        </div>
      <% end %>
    </div>
    <div class='flex-auto flex flex-row flex-nowrap items-stretch overflow-auto'>
      <% (@score.start_date..(@score.start_date + 12.month)).select(&:sunday?).each do |date| %>
        <div class='flex flex-col items-stretch divide-x divide-gray-500'>
          <div class='whitespace-nowrap flex-none px-2'><%= date %></div>
          <div class='flex-auto flex flex-col'>
            <% @score.level.active_people.each do |ps| %>
              <% score = Array(@score_cells[[l(date, format: :default), ps.id]]).first&.score_in_number.to_i %>
              <div class="py-2 px-1 border-t text-center <%= score.positive? ? 'bg-green-300 text-white' : '' %>">
                <%= score %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
