<% if notice %>
  <div class="notice px-3 py-2 rounded-md bg-green-400 w-full text-white shadow-md mb-2"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert px-3 py-2 rounded-md bg-red-400 w-full text-white shadow-md mb-2"><%= alert %></div>
<% end %>
