<div class="w-screen h-screen grid place-items-center">
  <div class="w-11/12 lg:w-6/12 rounded-md p-5 border border-gray-200">
    <div class="w-full py-2 px-4 bg-green-500 success hidden text-white rounded-md">
    </div>
    <div class="w-full py-2 px-4 bg-red-500 error hidden text-white rounded-md">
      Errors
    </div>
    <div id='person-new-form'>
      <%= render 'people/new_person_form', person: @person %>
    </div>
  </div>
</div>
