<div class='p-3'>
  <div class="text-3xl">Lớp học</div>

  <div class="mt-4"><div class='font-bold'>Số lượng: <%= @levels.total_count %></div></div>

  <table class='w-full mt-4'>
    <tr>
      <th class='text-left bg-gray-900 text-white px-3 py-1'>Tên</th>
      <th class='bg-gray-900 text-white px-3 py-1'>Số lượng thiếu nhi</th>
    </tr>
    <%= render partial: 'admin/levels/level', collection: @levels, as: :level %>
  </table>
  <div class='text-center'>
    <%= paginate @levels %>
  </div>

</div>
