<div class="flex-none border-r border-gray-200 w-56">
  <div class="flex flex-col p-3 space-y-3">
    <%= link_to 'Tổng quát', admin_root_path, class: "rounded-md p-2 #{current_page?(controller: 'dashboard', action: 'show') ? 'bg-blue-500 text-white' : 'hover:bg-gray-200'}" %>
    <p class='text-gray-500 text-xs select-none'>Quản lý chung</p>
    <%= link_to 'Con người', admin_people_path, class: "rounded-md p-2 #{current_page?(controller: 'people') ? 'bg-blue-500 text-white' : 'hover:bg-gray-200'}" %>
    <%= link_to 'Lớp học', admin_levels_path, class: "rounded-md p-2 #{current_page?(controller: 'levels') ? 'bg-blue-500 text-white' : 'hover:bg-gray-200'}" %>
  </div>
</div>
