<div class='grid place-items-center bg-white h-screen w-screen'>
  <div class='flex flex-col space-y-2'>
    <%= link_to 'Xem danh sách các lớp học', levels_path, class: 'd-block px-3 py-2 border border-gray-300 rounded-md' %>
    <%= link_to 'Xem danh sách GLV-HT', bulk_show_levels_path(ids: Level.leaders.ids), class: 'd-block px-3 py-2 border border-gray-300 rounded-md text-center' %>
  </div>
</div>
