<div class='absolute top-0 left-0 h-full w-full grid place-items-center'>
  <div class='lg:text-3xl text-md text-gray-800 font-bold flex flex-col space-y-2 items-center'>
    <%= t('common.welcome') %>
    <div class='text-sm lg:text-lg'>
      <%= t('common.today_is', date: l(Time.zone.now.to_date, format: :long)) %>
    </div>
  </div>
</div>
