<div class='fixed top-0 left-0 right-0 bottom-0'>
  <div data-controller="calendar" data-calendar-events-value="<%= api_v0_gcatholics_path %>" <% if @mobile %>data-calendar-initial-view-value='listWeek'<% end %>></div>
</div>
