<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="inline-block rounded-md page<%= ' bg-gray-500 text-white' if page.current? %>">
  <%= link_to page, url, remote: remote, rel: page.rel, class: 'border rounded-md border-gray-500 py-1 px-3 inline-block ' %>
</span>
