/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.cube.senior {
  background-color: rgb(253, 230, 138);
}

.cube.senior .co-1 {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 17px solid rgba(239, 68, 68);
  transform: rotate(45deg) translateX(-3px) translateY(3px);
}

.cube.senior .co-2 {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 17px solid rgba(239, 68, 68);
  transform: rotate(-45deg) translateX(-10px) translateY(3px);
}

.cube.senior .co-3 {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 17px solid rgba(239, 68, 68);
  transform: rotate(135deg) translateX(-25px) translateY(3px);
}

.cube.senior .co-4 {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 17px solid rgba(239, 68, 68);
  transform: rotate(-135deg) translateX(-4px) translateY(19px);
}
